*{
    font-family: Verdana, Arial, sans-serif;
    line-height: 1.5;
}
body{
    background-color: #f28095;
    margin: 0;
}
header, footer{
    width: 1000px;
}
header{
    height: 150px;
    color: white;
    background-image: url(images/bowl.jpg);
    background-repeat: no-repeat;
    background-color: #141a1a;
}
h1{
    margin: 0;
    padding-top: 50px;
    padding-left: 32px;
}
#grid-container{
    display: grid;
    grid-template-columns: 184fr 1fr;
    gap: 0 16px;
    width: 1000px;
    background-color: #fdfdfd;   
}