*{
    font-family: Verdana, Arial, sans-serif;
    line-height: 1.5;
}
body{
    background-color: #f28095;
    margin: 0;
}
header, footer{
    width: 1000px center;
}
header{
    height: 150px;
    color: white;
    background-image: url(images/bowl.jpg) align-right;
    background-repeat: no-repeat;
    background-color: #141a1a;
}
